div.rg-search-bar
  padding 10px

div.rg-picker
  width 400px
  max-height 340px
  overflow-y auto
  padding 0 0 0 10px
  div.rg-picker__row
    margin-bottom 15px
    clear both
    dl
      margin 0
      padding 0
      overflow hidden
      dt
        float left
        width 60px
        clear left
        text-align right
        font-weight bold
        font-size 14px
        color #888
      dd
        margin-left 75px
        font-size 13px
        color #666
        ul
          margin 0
          padding 0
          list-style none
          li
            margin-right 10px
            display inline-block
            cursor pointer
            &.selected
              color #2A94EE
              font-weight bold
