$column-gap: 5px

.rg-column-container
  display: flex
  overflow: hidden
  box-sizing: border-box
  .rg-column
    padding: $column-gap 0
    margin: 0
    list-style: none
    height: 300px
    display: inline-flex
    flex-direction: column
    overflow-y: auto
    min-width: 160px
    border-right: 1px solid #ddd
    font-size: 14px
    // -webkit-font-smoothing: subpixel-antialiased
    // -webkit-transform: translateZ(0) scale(1.0, 1.0)
    &:last-child
      border-right: 0
    &__header
      background-color: #EEF0F2
      color: #747984
      padding: 5px 10px 5px 15px
      font-size: 14px
    li
      display: flex
      justify-content: space-between
      align-items: center
      line-height: 1.5
      padding: 5px 5px 5px 10px
      color: #777
      outline: none
      margin-left: $column-gap
      margin-right: $column-gap
      border-radius: 5px
      scroll-margin-bottom: $column-gap
      scroll-margin-top: $column-gap
      .bi-chevron-right
        font-size: .8rem
      &:hover
        background-color: #F5F5F5
        // color: black
        cursor: pointer
      &.selected
        background-color: #e3e3e3
        color: black
